doctype html
html
	head
		//- Meta
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")

		//- iOS Full screen
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-status-bar-style", content="black")

		//- CSS
		link(rel="stylesheet", href="/static/css/dist.css")

		//- Web sockets
		script(src="/socket.io/socket.io.js")

		//- JS
		script(src="/static/js/vendor.js")
		script(src="/static/js/dist.js")

	body
		div
			//- div.control
			div#faders.faders
