// @import "includes/bootstrap.min"
@import "includes/rangeslider"
@import "includes/aux"
@import "includes/auxSelection"
@import "includes/fonts"
@import "includes/buttons"
@import includes/rzslider

body
	padding: 0
	margin: 0
	background: #333
