doctype html

html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")

		//- CSS
		link(rel="stylesheet", href="../css/dist.css")

		//- JS
		script(type="text/javascript", src="../js/vendor.js")
		script(type="text/javascript", src="../js/dist.js")

	body
		div.title
			h1 DigiControl
			h2 some informative text

		div(style="padding:1em")
			span.btn Connect
