doctype html

html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")

		//- CSS
		link(rel="stylesheet", href="../css/dist.css")

		//- JS
		script() window.$ = window.jQuery = require('jquery');
		script(type="text/javascript", src="../js/dist.js")

	body
		div.title
			h1 DigiControl
			h2 some informative text

		div(style="padding:1em")
			span.btn#connectBtn Connect


		div.settings
			label Ip Address
			input(type="text", id="ipaddr")

			label RX Port
			input(type="text", id="rxport")

			label TX Port
			input(type="text", id="txport")

		span.openSettings
